[Desktop Entry]
Name=Crypt
GenericName=Crypto Market Watcher
Comment=View and Watch Crypto Currency With Ease!
Categories=GNOME;GTK;Network;Finance;Office;
Exec=com.github.dcharles525.crypt
Icon=com.github.dcharles525.crypt
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=com.github.dcharles525.crypt
Keywords=crypto;bitcoin;litecoin;coin;bit;trading;money;
